body {
  padding-top: 1rem;
}

.main-header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px dotted #ddd;
  color: #888;
  font-size: small;
  padding: 0.5rem 0 1.5rem 0;
}

.error {
  color: #a94442;
  font-weight: bold;
}

/* AUTHORITY section */
tr.authority > td {
  background-color: /*#DDD*/ #fcf8e3;
}

/* ADDITIONAL section */
tr.additional > td {
  background-color: #EEE;
}
