@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';

.spinner {
	height: 32px;
	width: 32px;
	color: rgba(90, 90, 90, 0.5);
	position: relative;
	display: inline-block;
	border: 5px solid;
	border-radius: 50%;
	border-right-color: $gray-600;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.tracert-seq {
	font-size: 2rem;
}

body {
	padding-top: 1rem;
}

.main-header {
	margin-bottom: 1rem;
}

footer {
	border-top: 1px dotted #ddd;
	color: #888;
	font-size: small;
	padding: 0.5rem 0 1.5rem 0;
}

.error {
	color: #a94442;
	font-weight: bold;
}

/* AUTHORITY section */
tr.authority > td {
	background-color: #5c4f0a;
}

/* ADDITIONAL section */
tr.additional > td {
	background-color: #333;
}
